
<h2>マイページ</h2>
<div class="contaire">
  <% if @image.attached? %>
    <%= image_tag %>
  <% else %>
    <%= image_tag("sample_defalt.png", class:"my-image") %>
  <% end %>
  <main class="main">
    <h3>今までの投稿<span class="badge"><%= @user.posts.count %></span></a><br></h3>
    <div class="inner">
      <div class="card__wrapper">
        <%= render partial: 'posts/post', collection: @posts %>
      </div>
    </div>
  </main>
</div>