<main class="main">
<% breadcrumb :root %>
<%# 投稿一覧 %>
  <div class="inner">
    <div class="card__wrapper">
      <%= render partial: 'posts/post', collection: @posts %>
    </div>
  </div>
<%# // 投稿一覧 // %>
</main>
